<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Simplecheckout>
      <version>0.1.7</version>
    </Magebuzz_Simplecheckout>
  </modules>
  <frontend>
    <secure_url>
      <simplecheckout>/simplecheckout/</simplecheckout>
    </secure_url>
    <routers>
      <simplecheckout>
        <use>standard</use>
        <args>
          <module>Magebuzz_Simplecheckout</module>
          <frontName>simplecheckout</frontName>
        </args>
      </simplecheckout>
    </routers>
    <layout>
      <updates>
        <simplecheckout>
          <file>simplecheckout.xml</file>
        </simplecheckout>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Simplecheckout>
          <files>
            <default>Magebuzz_Simplecheckout.csv</default>
          </files>
        </Magebuzz_Simplecheckout>
      </modules>
    </translate>
  </frontend>
  <admin>
    <routers>
      <simplecheckout>
        <use>admin</use>
        <args>
          <module>Magebuzz_Simplecheckout</module>
          <frontName>simplecheckout</frontName>
        </args>
      </simplecheckout>
    </routers>
  </admin>
  <adminhtml>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <Magebuzz_Simplecheckout>
              <title>Simplecheckout Module</title>
              <sort_order>10</sort_order>
            </Magebuzz_Simplecheckout>
          </children>
        </admin>
      </resources>
    </acl>
    <layout>
      <updates>
        <simplecheckout>
          <file>simplecheckout.xml</file>
        </simplecheckout>
      </updates>
    </layout>
  </adminhtml>
  <global>
    <models>
      <simplecheckout>
        <class>Magebuzz_Simplecheckout_Model</class>
        <resourceModel>simplecheckout_mysql4</resourceModel>
      </simplecheckout>
      <simplecheckout_mysql4>
        <class>Magebuzz_Simplecheckout_Model_Mysql4</class>
        <entities>
          <simplecheckout>
            <table>simplecheckout</table>
          </simplecheckout>
          <delivery>
            <table>simplecheckout_delivery</table>
          </delivery>
        </entities>
      </simplecheckout_mysql4>
    </models>
    <resources>
      <simplecheckout_setup>
        <setup>
          <module>Magebuzz_Simplecheckout</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </simplecheckout_setup>
      <simplecheckout_write>
        <connection>
          <use>core_write</use>
        </connection>
      </simplecheckout_write>
      <simplecheckout_read>
        <connection>
          <use>core_read</use>
        </connection>
      </simplecheckout_read>
    </resources>
    <blocks>
      <simplecheckout>
        <class>Magebuzz_Simplecheckout_Block</class>
      </simplecheckout>
      <checkout>
        <rewrite>
          <onepage_link>Magebuzz_Simplecheckout_Block_Link</onepage_link>
          <links>Magebuzz_Simplecheckout_Block_Toplink</links>
          <cart_sidebar>Magebuzz_Simplecheckout_Block_Cartsidebar</cart_sidebar> 
        </rewrite>
      </checkout>
      <sales>
        <rewrite>        
          <order_info>Magebuzz_Simplecheckout_Block_Sales_Order_Info</order_info> 
        </rewrite>
      </sales>
    </blocks>
    <helpers>
      <simplecheckout>
        <class>Magebuzz_Simplecheckout_Helper</class>
      </simplecheckout>
    </helpers>
    <events>
      <checkout_type_onepage_save_order>
        <observers>
          <magebuzz_simplecheckout_observer>
            <type>singleton</type>
            <class>simplecheckout/observer</class>
            <method>saveOrderComment</method>
          </magebuzz_simplecheckout_observer>
        </observers>
      </checkout_type_onepage_save_order>
      <sales_order_save_commit_after>
        <observers>
          <magebuzz_sales_order_save_after>
            <class>simplecheckout/observer</class>
            <method>saveOrderAfter</method>
          </magebuzz_sales_order_save_after>
        </observers>
      </sales_order_save_commit_after>    
      <sales_order_load_after>
        <observers>
          <magebuzz_sales_order_load_after>
            <class>simplecheckout/observer</class>
            <method>loadOrderAfter</method>
          </magebuzz_sales_order_load_after>
        </observers>
      </sales_order_load_after>
    </events>
  </global>
  <default>
    <simplecheckout>
      <general>
        <enable_simplecheckout>1</enable_simplecheckout>
        <choose_style>default</choose_style>
        <show_shipping_address>1</show_shipping_address>
        <enable_order_comment>0</enable_order_comment>
        <allow_guest_checkout>1</allow_guest_checkout>
        <include_js>0</include_js>
        <auto_completed_address>1</auto_completed_address>
      </general>
      <default_fields>
        <country_id>US</country_id>
        <region_id>12</region_id>
        <postcode>90034</postcode>
        <city></city>
        <shipping_method_id></shipping_method_id>
        <payment_method_id></payment_method_id>
      </default_fields>
      <ajax_update>
        <enable_ajax>1</enable_ajax>
        <ajax_fields>country,postcode,state/region,city</ajax_fields>
        <update_payment>1</update_payment>
      </ajax_update>
      <term_condition>
        <enable_term_condition>0</enable_term_condition>
      </term_condition>
      <deliverydate>
        <enable_delivery>0</enable_delivery>
        <formatdate>m/d/Y</formatdate>
        <number_period>5</number_period>
        <weekend>0</weekend>
      </deliverydate>
			<coupon>
				<enable_coupon>0</enable_coupon>
			</coupon>
    </simplecheckout>
  </default>
</config>